html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

#map-icon{
    width: 32px;
    height:32px;
}

.validation-summary {

}

    .validation-summary ul {
        list-style: none;
    }

.img-account-profile, #image-preview {
    width: 150px;
    height: 150px;
}

.file-drop-area{
    height: 200px;
}

.file-drop-area, image-preview-area {
    border: 1px dashed var(--bs-body-color);
}

.drop-area-container {
    margin-top: 13%;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    padding: 1rem;
}

