<script id="usersMruList" type="text/x-handlebars-template">
    <div class="card col {{cardborderClass}}">
        <div class="card-header">
            <span>#{{index}}</span>
        </div>
        <div class="card-body">
            {{userName}}
            <a href="User/{{userId}}">Open</a>
        </div>
    </div>
</script>
