@model PartnersDashboardModel
@{
    ViewData["Title"] = "Partners";
    ViewData["ActiveLink"] = "Partners";
    var MaxCount = 3;
}
<div class="d-flex flex-column">
    <div class="d-flex flex-row pb-3">
        <h4>Most recently opened Partners</h4>
        <div class="ms-auto">
            <a asp-controller="Admin" asp-action="Partner" class="btn btn-primary">Add new Partner <i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        @if(Model.PartnerMruList!= null)
        {
            foreach(var partner in Model.PartnerMruList)
            {
                var index = Model.PartnerMruList.IndexOf(partner);
                var cardMarginClass = string.Empty;
                if(index< MaxCount - 1)
                {
                    cardMarginClass = "me-4";
                }
                <div class="card col @cardMarginClass">
                    <div class="card-header">
                        <span>#@(index+1)</span>
                    </div>
                    <div class="card-body">
                        @partner.OrganizationName
                    </div>
                </div>
            }
            var placesToPad = MaxCount - Model.PartnerMruList.Count;
            if (placesToPad> 0)
            {
                while (placesToPad > 0)
                {
                    var cardMarginClass = string.Empty;
                    if (placesToPad > 1)
                    {
                        cardMarginClass = "me-4";
                    }
                    <div class="card col @cardMarginClass">
                        <div class="card-header">
                            <span>#@(MaxCount - placesToPad + 1)</span>
                        </div>
                        <div class="card-body">
                            Partner @(MaxCount - placesToPad + 1)
                        </div>
                    </div>
                    
                    placesToPad = placesToPad - 1;                    
                }
            }

        }        
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        function GetMRUList() {
            

        }

    </script>
}