@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Partners";
    ViewData["ActiveLink"] = "Partners";
}
<div class="d-flex flex-column">
    <div class="d-flex flex-row pb-3">
        <h4>Most recently opened Partners</h4>
        <div class="ms-auto">
            <a asp-controller="Admin" asp-action="Partner" class="btn btn-primary">Add new Partner <i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="card col me-4">
            <div class="card-header">
                <span>Partner 1</span>
            </div>
            <div class="card-body">
                This is description
            </div>
        </div>

        <div class="card col me-4">
            <div class="card-header">
                <span>Partner 1</span>
            </div>
            <div class="card-body">
                This is description
            </div>
        </div>

        <div class="card col">
            <div class="card-header">
                <span>Partner 1</span>
            </div>
            <div class="card-body">
                This is description
            </div>
        </div>
    </div>

</div>